/* RESET AND SETUP CSS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alex-Brush';
    src: url('../fonts/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-Bold.woff2') format('woff2'),
        url('../fonts/DancingScript-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 15px;
    margin-top: 24px;
}
input{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.mc-container{
    max-width: 1200px;
    padding: 0 15px;
    margin:0 auto;
}
.mc-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mc-jc-space-between{
    justify-content: space-between;
}
.mc-align-center{
    align-items: center;
}
.mc-mg--15{
    margin:0 -15px;
}
.mc-pdx-15{
    padding: 0 15px;
}
.mc-mg--10{
    margin:0 -10px;
}
.mc-pdx-10{
    padding: 0 10px;
}
.mc-col-1{
    flex: 0 0 8.33%;
    max-width: 8.33%;
    width: 100%;
}
.mc-col-2{
    flex: 0 0 16.66%;
    max-width: 16.66%;
    width: 100%;
}
.mc-col-3{
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}
.mc-col-4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}
.mc-col-5{
    flex: 0 0 41.66%;
    max-width: 41.66%;
    width: 100%;
}
.mc-col-6{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}
.mc-col-7{
    flex: 0 0 58.33%;
    max-width: 58.33%;
    width: 100%;
}
.mc-col-8{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    width: 100%;
}
.mc-col-9{
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
}
.mc-col-10{
    flex: 0 0 83.33%;
    max-width: 83.33%;
    width: 100%;
}
.mc-col-11{
    flex: 0 0 91.66%;
    max-width: 91.66%;
    width: 100%;
}
.mc-col-12{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}
.mccs-5{
    flex: 0 0 41.66%;
    max-width: 40%;
    width: 100%;
}
.mccs-7{
    flex: 0 0 58.33%;
    max-width: 54%;
    width: 100%;
}
/* RESET AND SETUP CSS */
/* ---------HEADER MENU CSS---------- */
.main_header{
    background: #FFDBDB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.main_header .logo img{
    width:193px;
}
.main_header .right-header{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.main_header .right-header .menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main_header .right-header ul.menu li a{
    display: block;
    padding: 16px 12px;
    font-family: 'Roboto-Bold';
    font-size: 13px;
    color: #731D0C;
    transition: 0.3s all;
}
.main_header .right-header ul.menu li.menu-item-has-children{
    position: relative;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu{
    position: absolute;
    top: 44px;
    left: 0;
    background: #fff;
    width: 370px;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 4px 10px #80808040;
    padding: 5px 15px;
    display: none;
}
.main_header .right-header ul.menu li.menu-item-has-children:hover .sub-menu{
    display: flex;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a{
    position: relative;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a:hover{
    color:#f3adad;
    transition: 0.3s all;
    background: #fff;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li .sub-menu{
    display: none;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a:hover::before{
    background: #f3adad;
    transition: 0.3s all;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 4px;
    background: #731D0C;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: 0.3s all;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li{
    flex: 0 0 50%;
    max-width: 48%;
    width: 100%;
}
.main_header .right-header ul.menu li:hover{
    background-color: #fff;
    color:#731D0C;
    transition: 0.3s all;
}
.main_header .right-header .icon-more-menu{
    padding: 12px 0px 12px 12px;
    cursor: pointer;
    width: 16px;
}
.main_header .right-header .icon-close-mega-menu{
    padding: 12px 0px 12px 12px;
    cursor: pointer;
    display: none;
    width: 16px;
}
.sub-menu{-webkit-animation:sub-menu 0.5s cubic-bezier(.39,.575,.565,1.000) both;animation:sub-menu 0.5s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes sub-menu{0%{opacity:0}100%{opacity:1}}@keyframes sub-menu{0%{opacity:0}100%{opacity:1}}
 .mc_mega_all_menu .mc_mega_all_menu_contain .menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px 0;
}
.mc_mega_all_menu{
    position: fixed;
    top: 47px;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 50;
    display: none;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li{
    flex: unset;
    max-width: unset;
    width: 100%;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li a{
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    color:#731D0C;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu{
    margin-bottom: 20px;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li a{
    color: #333;
    font-size: 13px;
    font-family: 'Roboto';
    text-transform: none;
    margin-bottom: 0;
    position: relative;
    padding: 5px 0 5px 14px;
    transition: 0.3s all;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li a:hover{
    transition: 0.3s all;
    color:#f3adad;
}
.mc_mega_all_menu{
    background:#fff;
    box-shadow: 0px 4px 10px #80808040;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li a::before{
    content:"";
    position: absolute;
    top: 10px;
    left: 4px;
    background: #731D0C;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: 0.3s all;
}
.bg-overlay-mega-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005e;
    z-index: 2;
    display: none;
}
.mc-fade-in{-webkit-animation:mc-fade-in 0.5s cubic-bezier(.39,.575,.565,1.000) both;animation:mc-fade-in 0.5s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes mc-fade-in{0%{opacity:0}100%{opacity:1}}@keyframes mc-fade-in{0%{opacity:0}100%{opacity:1}}
 .gg-more {
    transform: scale(var(--ggs,1))
}
.gg-more,
.gg-more::after,
.gg-more::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-radius: 100%;
    color: #731D0C;
}
.gg-more::after,
.gg-more::before {
    content: "";
    position: absolute;
    top: -2px
}
.gg-more::after {
    left: -9px
}
.gg-more::before {
    right: -9px
}
.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}
.gg-close::after,
.gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px;
    color: #731D0C;
}
.gg-close::after {
    transform: rotate(-45deg)
}
.gg-menu {
    transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}
.icon-menu-mobile{
    display: none;
    padding: 10px 0;
    color: #731D0C;
}
.mc-menu-mobile{
    position: fixed;
    width: 100%;
    height: calc(100vh - 47px);
    top: 47px;
    left: 0;
    z-index: 10;
    background: #fff;
    overflow: scroll;
    display: none;
}
.mc-menu-mobile .menu li .sub-menu{
    display: none;
}
.mc-menu-mobile .menu li .sub-menu.open-sbmenu{
    display: block;
}
.mc-menu-mobile .menu li a{
    color: #731D0C;
    font-size: 18px;
    font-family: 'Roboto-Bold';
}
.mc-menu-mobile .menu li{
    padding: 0 10px;
    position: relative;
}
.mc-menu-mobile .menu li a{
    display: block;
    border-bottom: 1px solid #80808033;
    padding: 15px 30px 15px 0px;
}
.mc-menu-mobile .menu li .sub-menu li a{
    font-size: 15px;
}
.mc-menu-mobile .menu li.handle-icon .click-show-chirl-menu-mobile .gg-chevron-down::after{
    transform: rotate(226deg);
    transition: 0.3s all;
}
.mc-menu-mobile-contain{
    padding: 0px 10px;
}
.icon-close-menu-mobile{
    display: none;
}
.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px;
    transition: 0.3s all;
}
.mc-menu-mobile .menu li .click-show-chirl-menu-mobile{
    position: absolute;
    right: 9px;
    top: 14px;
    background: transparent;
    border: none;
    color: #731D0C;
}
.fade-in-left{-webkit-animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
/* ---------END HEADER MENU CSS---------- */
/* ---------FOCUS CSS---------- */
.mc_focus{
    padding: 10px 0;
}
.mc_focus .mc-forcus-left .focus-title{
    background-image: url("../images/focus-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    font-size: 14px;
    color:#fff;
    padding: 6px 10px 6px 50px;
    margin-left: -42px;
}
.mc_focus .slider-focus .item-slider-focus a{
    color: #191919;
    font-family: 'Roboto-Bold';
    transition: 0.3s all;
    font-size: 14px;
}
.mc_focus .slider-focus .item-slider-focus a:hover{
    color: #ff6d6d;
    text-decoration: underline;
    transition: 0.3s all;
}
.mc-form-search .form-control{
    width: 270px;
    padding: 6px 15px;
    border-radius: 20px;
    border: 1px solid #D5D5D5;
    display: block;
    font-size: 13px;
    outline: none;
    font-family: 'Roboto';
}
.mc-form-search .sty_input{
    position: relative;
    width: max-content;
    margin-left: auto;
}
.mc-form-search .sub-search-mc-header{
    position: absolute;
    top: 3px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.mc-form-search .sub-search-mc-header img{
    width: 24px;
}
/* ---------END FOCUS CSS---------- */
/* --------- BANNER SLIDER CSS---------- */
.item-slider-banner a{
    position: relative;
}
.item-slider-banner a .content-on-banner-slider{
    position: absolute;
    bottom:25px;
    left: 50%;
    transform: translateX(-50%);
}
.item-slider-banner a .content-on-banner-slider .title-on-banner-slider{
    font-size: 32px;
    text-align: center;
    color:#fff;
    font-family: 'Roboto-Bold';
    margin-bottom: 15px;
}
.item-slider-banner a .content-on-banner-slider .btn-read-now{
    width: 152px;
    background: #EF4141;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    text-align: center;
    font-size: 15px;
    color:#fff;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 7px 0;
    transition: 0.3s all;
}
.item-slider-banner a .content-on-banner-slider .btn-read-now:hover{
    background: #fff;
    color:#EF4141;
    transition: 0.3s all;
}
.slider-banner-contain .slick-next{
    width: 28px;
    height: 47px;
    right: 0;
    z-index: 3;
}
.slider-banner-contain .slick-prev{
    width: 28px;
    height: 47px;
    left: 0;
    z-index: 3;
}
.dis-block{
    display: block !important;
}
.dis-none{
    display: none !important;
}
/* --------- END BANNER SLIDER CSS---------- */
/* --------- HOME SEC 3 CSS---------- */
.mc_home_sec_3{
    padding : 22px 0 61px 0;
}
.mc_home_sec_3 .mchs3_content{
    padding: 20px 15px;
    border:1px solid #8080803b;
    border-radius: 15px;
}
.mc_home_sec_3 .mchs3_thumb_one_post img{
    height: 168px;
    object-fit: cover;
    border-radius: 15px;
}
.mc_home_sec_3 .mchs3_thumb_one_post{
    margin-bottom: 15px;
}
.mc_home_sec_3 .mchs3_title_one_post{
    color: #191919;
    font-size: 16px;
    font-family: 'Roboto-Bold';
    margin-bottom: 30px;
    transition: 0.3s all;
}
.mc_home_sec_3 .mchs3_content_list img{
    height: 87px;
    object-fit: cover;
}
.mc_home_sec_3 .mchs3_content_list .mc-row{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom:1px solid #8080803b;
}
.mc_home_sec_3 .mchs3_content_list .mc-row:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom:0;
}
.mchs3_content_list .mchs3_title_list_post{
    color:#191919;
    font-size: 14px;
    font-family: 'Roboto-Bold';
    margin-bottom: 5px;
    transition: 0.3s all;
}

.mchs3_content_list .mchs3_desc_list_post{
    color:#191919;
    font-size: 14px;
    font-family: 'Roboto';
}
.mchs3_content_cover:hover .mchs3_title_one_post{
    color: #f59191;
    transition: 0.3s all;
}
.mc_home_sec_3 .mchs3_content_list .mc-row:hover .mchs3_title_list_post{
    color: #f59191;
    transition: 0.3s all;
}
.hover14 .mchs3_thumb_one_post {
	position: relative;
    overflow: hidden;
}
.hover14 .mchs3_thumb_one_post::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 .mchs3_thumb_one_post:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
.hover14 .mccs-5 {
	position: relative;
    overflow: hidden;
}
.hover14 .mccs-5::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 .mccs-5:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/* --------- END HOME SEC 3 CSS---------- */
.mc-dis-title-muc{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: 1px solid #d5d5d599;
    margin-bottom: 25px;
}
.mc-dis-title-muc .img-title-mc img{
    width: 28px;
}
.mc-dis-title-muc .mc-title-muc{
    font-size: 20px;
    color:#EF4141;
    text-transform: uppercase;
    font-family: 'Roboto-Bold';
    margin-left: 10px;
}
.mc_sec_4{
    margin-bottom: 50px;
}
.mc_sec_5{
    margin-bottom: 75px;
}
.mc-first-before .mc-first-before-thumb{
    margin-bottom: 15px;
    height: 256px;
    overflow: hidden;
}
.mc-first-before .mc-first-before-thumb img{
    height: 256px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s all;
}
.mc-first-before:hover .mc-first-before-thumb img{
    transform: scale(1.1);
    transition: 0.3s all;
}
.mc-first-before{
    margin-bottom: 25px;
    display: block;
}
.mc-first-before .mc-first-before-title{
    font-size: 20px;
    color:#000;
    font-family: 'Roboto-Bold';
    transition: 0.3s all;
}
.mc-after-post-list .mc-custom-mgb{
    margin-bottom: 25px;
}
.mc-after-post-list .mc-custom-mgb .img-st-effect{
    height: 110px;
    overflow: hidden;
}
.mc-after-post-list .mc-custom-mgb:hover img{
    transform: scale(1.1);
    transition: 0.3s all;
}
.mc-after-post-list .mc-custom-mgb img{
    height: 110px;
    object-fit: cover;
    transition: 0.3s all;
    transform: scale(1);
}
.mc-after-post-list .mc-custom-mgb .after-post-title{
    font-size: 16px;
    color:#000;
    font-family: 'Roboto-Bold';
    margin-bottom: 8px;
    transition: 0.3s all;
}
.mc-after-post-list .mc-custom-mgb .after-post-desc{
    font-size: 14px;
    color:#000;
    font-family: 'Roboto';
    margin-bottom: 5px;
}
.mc-first-before:hover .mc-first-before-title{
    transition: 0.3s all;
    color:#EF4141;
}
.mc-after-post-list .mc-custom-mgb:hover .after-post-title{
    transition: 0.3s all;
    color:#EF4141;
}
.red-slider{
    margin-top: 60px;
    margin-bottom: 35px;
    padding: 30px 20px;
    background: #EF4141;
    border-radius: 10px;
}
.title_red_slider{
    font-size: 20px;
    color:#fff;
    font-family: 'Roboto-Bold';
    margin-bottom: 20px;
}
.red-slider .slick-prev{
    left: -20px;
    width: 20px;
    top: 40%;
}
.red-slider .slick-next{
    right: -20px;
    width: 20px;
    top: 40%;
}
.thumb-slider-red{
    margin-bottom: 15px;
}
.thumb-slider-red img{
    height: 168px;
    object-fit: cover;
    border-radius: 10px;
}
.title-post-on-slider-red{
    color:#fff;
    font-size: 16px;
    font-family: 'Roboto-Bold';
}
.sb-event-highligh{
    padding: 30px 25px 50px 25px;
    background: #FFDBDB;
    border-radius: 10px;
}
.sb-event-highligh .sub-title-hl{
    color: #191919;
    font-size: 40px;
    font-family: 'Alex-Brush';
    font-weight: bold;
}
.sb-event-highligh .mc-title-hl{
    font-size: 40px;
    color: #EF4141;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    margin-bottom: 10px;
}
.list-highligh-mc a{
    font-size: 18px;
    font-family: 'DancingScript';
    color: #191919;
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
}
.list-highligh-mc a:hover{
    text-decoration: underline;
}
.list-highligh-mc a::before{
    content:"";
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #EF4141;
}
.mc_sec_5 .red-slider{
    background: #fff;
    border:1px solid #8080803b;
}
.mc_sec_5 .title_red_slider{
    color:#191919;
}
.mc_sec_5 .title-post-on-slider-red{
    color:#191919;
}
.mc-sb-banner-home a img{
    border-radius: 10px;
}
.mc-sec-5-mgb{
    margin-bottom: 25px;
}
.por-right-sb-mc{
    position: relative;
    height: 100%;
}
.mc-right-sb-cover{
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    z-index: 10;
}
/*---------- CSS FOOTER -------------*/
.menu-footer{
    background: #FFDBDB;
    margin-bottom: 15px;
}
.footer .menu-footer .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.footer .menu-footer .menu li a{
    display: block;
    padding: 15px 50px;
    position: relative;
    color: #731D0C;
    font-size: 14px;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
}
.footer .menu-footer .menu li a:hover{
    text-decoration: underline;
}
.footer .menu-footer .menu li a::after{
    content:"";
    position: absolute;
    height: 24px;
    width: 2px;
    background: #731D0C;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}
.footer .menu-footer .menu li:last-child a::after{
    display: none;
}
/*---------- END CSS FOOTER -------------*/