/* RESET AND SETUP CSS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alex-Brush';
    src: url('../fonts/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    padding:0;
    margin:0;
}
html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 15px;
    margin-top: 24px;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.mc-container{
    max-width: 1200px;
    padding: 0 15px;
    margin:0 auto;
}
.mc-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mc-jc-space-between{
    justify-content: space-between;
}
.mc-align-center{
    align-items: center;
}
.mc-mg--15{
    margin:0 -15px;
}
.mc-pdx-15{
    padding: 0 15px;
}
.mc-col-1{
    flex: 0 0 8.33%;
    max-width: 8.33%;
    width: 100%;
}
.mc-col-2{
    flex: 0 0 16.66%;
    max-width: 16.66%;
    width: 100%;
}
.mc-col-3{
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}
.mc-col-4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}
.mc-col-5{
    flex: 0 0 41.66%;
    max-width: 41.66%;
    width: 100%;
}
.mc-col-6{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}
.mc-col-7{
    flex: 0 0 58.33%;
    max-width: 58.33%;
    width: 100%;
}
.mc-col-8{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    width: 100%;
}
.mc-col-9{
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
}
.mc-col-10{
    flex: 0 0 83.33%;
    max-width: 83.33%;
    width: 100%;
}
.mc-col-11{
    flex: 0 0 91.66%;
    max-width: 91.66%;
    width: 100%;
}
.mc-col-12{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}
/* RESET AND SETUP CSS */
/* ---------HEADER MENU CSS---------- */
.main_header{
    background: #FFDBDB;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.main_header .logo img{
    width:193px;
}
.main_header .right-header{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.main_header .right-header .menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main_header .right-header ul.menu li a{
    display: block;
    padding: 16px 12px;
    font-family: 'Roboto-Bold';
    font-size: 13px;
    color: #731D0C;
    transition: 0.3s all;
}
.main_header .right-header ul.menu li.menu-item-has-children{
    position: relative;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu{
    position: absolute;
    top: 44px;
    left: 0;
    background: #fff;
    width: 370px;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 4px 10px #80808040;
    padding: 5px 15px;
    display: none;
}
.main_header .right-header ul.menu li.menu-item-has-children:hover .sub-menu{
    display: flex;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a{
    position: relative;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a:hover{
    color:#f3adad;
    transition: 0.3s all;
    background: #fff;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li .sub-menu{
    display: none;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a:hover::before{
    background: #f3adad;
    transition: 0.3s all;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li a::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 4px;
    background: #731D0C;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: 0.3s all;
}
.main_header .right-header ul.menu li.menu-item-has-children .sub-menu li{
    flex: 0 0 50%;
    max-width: 48%;
    width: 100%;
}
.main_header .right-header ul.menu li:hover{
    background-color: #fff;
    color:#731D0C;
    transition: 0.3s all;
}
.main_header .right-header .icon-more-menu{
    padding: 12px 12px;
    cursor: pointer;
}
.sub-menu{-webkit-animation:sub-menu 0.5s cubic-bezier(.39,.575,.565,1.000) both;animation:sub-menu 0.5s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes sub-menu{0%{opacity:0}100%{opacity:1}}@keyframes sub-menu{0%{opacity:0}100%{opacity:1}}
 .mc_mega_all_menu .mc_mega_all_menu_contain .menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px 0;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li{
    flex: unset;
    max-width: unset;
    width: 100%;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li a{
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    color:#731D0C;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu{
    margin-bottom: 20px;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li a{
    color: #333;
    font-size: 13px;
    font-family: 'Roboto';
    text-transform: none;
    margin-bottom: 0;
    position: relative;
    padding: 5px 0 5px 14px;
    transition: 0.3s all;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li a:hover{
    transition: 0.3s all;
    color:#f3adad;
}
.mc_mega_all_menu{
    background:#fff;
    box-shadow: 0px 4px 10px #80808040;
}
.mc_mega_all_menu .mc_mega_all_menu_contain .menu li .sub-menu li a::before{
    content:"";
    position: absolute;
    top: 10px;
    left: 4px;
    background: #731D0C;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transition: 0.3s all;
}
/* ---------END HEADER MENU CSS---------- */